*
!.travis.yml
!*.yaml
!configurations
!configurations/*
!custom_components
!custom_components/*
!custom_components/sensor/*
!custom_components/media_player/*
!.gitignore
!travis_stuff
!travis_stuff/*
secrets.yaml
known_devices.yaml
__pycache__
